<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.css">
<script src="jquery-3.2.0.js"></script>
<script type="text/javascript" src="js/materialize.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.js"></script>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="../css/ejemploSelectDisplay.css">
      <script type="text/javascript" src="../js/displayWeapon.js"></script>
      <script type="text/javascript" src="../js/displayArmor.js"></script>
      <LINK REL=StyleSheet HREF="../css/styles.css" TYPE="text/css" MEDIA=all>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8">
	<title>Exalted h3</title>
</head>
<body>
	
<div  class="row">
	
	<div class="col m3">
		<h2 id="exalted">EXALTED</h2>
	</div>

		<form action="/action_page.php" name>
			<div class="col m3 " class="flow-text">
  				Absorcion contundente: <input type="text" name="ac" id="ac" placeholder="Resistencia + Armadura(C)"><br>
  				Esquiva DV: <input type="text" name="esquivaDV" id="equivaDV" placeholder="(Des.+Esquiva+Escencia+espe.)/2"><br>
  			</div >
  			<div class="col m3 " class="flow-text">
  				Absorcion letal: <input type="text" name="al" id="al" placeholder="Resistencia/2+Armadura(L)"><br>
  				Entrar en Combate: <input type="text" name="entrarEnCombate" id="EntrarEnCombate" placeholder="Astucia+Conciencia"><br>
			</div>

			<div class="col m3 " class="flow-text">
  				Absorcion Agrabado: <input type="text" name="ab" id="ab" placeholder="Armadura(L)"><br>
  				Mover/Carrera: <input type="text" name="mc" id="mc" placeholder="Des.Movilidad Armadura(+6)"><br>
			</div>
		
		</form>
	
</div >

<!--___________________________________armas__________________________-->

<div class="row">
	<div class="col m12">
		<h5 id="armas">Armas</h5>
	</div>	
</div>

  <div class="row">
      <div class="col s3">
        <div class="row">

          <div class="input-field col s12">
            <select id="wpnSelect">
              <option value="" disabled selected>Escoge un arma</option>
              
            </select>
            <label>Armas</label>
          </div>
        </div>
      </div>
      <div class="hidden col s12">
        <div id="wpnStatContainer" class="row">
        </div>
      </div>
  </div>




<!--___________________________armadura___________________________-->

<div class="row">
	<div class="col m12">
		<h5 id="armadura">Armadura</h5>
	</div>	
</div>

 <div class="row">
      <div class="col s3">
        <div class="row">

          <div class="input-field col s12">
              <select id="armorSelect">
                <option value="" disabled selected>Escoge una armadura</option>
                
              </select>
              <label>Armaduras</label>
          </div>
        </div>
      </div>
        <div class="hidden col s12">
          <div id="armorStatContainer" class="row">
          </div>
        </div>  
 </div>


<!--___________________________fin armor___________________________-->

<div class="row">
	<div class="col m12">
		<h5 id=encombate>En Combate</h5>
	</div>	
</div>

<a class="waves-effect waves-light btn" href="exaltedH4.html">Siguiente</a>


</body>
</html>