<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.css">
<script src="jquery-3.2.0.js"></script>
<script type="text/javascript" src="js/materialize.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.js"></script>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8">
	<title>Exalted h3</title>
</head>
<body>
	
<div  class="row">
	
	<div class="col m3">
		<h2 id="exalted">EXALTED</h2>
	</div>

		<form action="/action_page.php" name>
			<div class="col m3 " class="flow-text">
  				Absorcion contundente: <input type="text" name="ac" id="ac" placeholder="Resistencia + Armadura(C)"><br>
  				Esquiva DV: <input type="text" name="esquivaDV" id="equivaDV" placeholder="(Des.+Esquiva+Escencia+espe.)/2"><br>
  			</div >
  			<div class="col m3 " class="flow-text">
  				Absorcion letal: <input type="text" name="al" id="al" placeholder="Resistencia/2+Armadura(L)"><br>
  				Entrar en Combate: <input type="text" name="entrarEnCombate" id="EntrarEnCombate" placeholder="Astucia+Conciencia"><br>
			</div>

			<div class="col m3 " class="flow-text">
  				Absorcion Agrabado: <input type="text" name="ab" id="ab" placeholder="Armadura(L)"><br>
  				Mover/Carrera: <input type="text" name="mc" id="mc" placeholder="Des.Movilidad Armadura(+6)"><br>
			</div>
		
		</form>
	
</div >

<!--___________________________________armas__________________________-->

<div class="row">
	<div class="col m12">
		<h5 id="armas">Armas</h5>
	</div>	
</div>

<div class="row">

	<div class="col m12">
	 

	  <table class="striped">
        <thead>
          <tr>
              <th>Arma</th>
              <th>Velocidad</th>
              <th>Acc(Cha/Man)</th>
              <th>Daño</th>
              <th>PDV</th>
              <th>Precio</th>
              <th>Rango</th>
              <th>Etiquetas</th>
              <th>Notas</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>
<!--________________________________fijos______________________-->
        <tbody>
          <tr>
            <td>Agarre</td>
            <td>6</td>
            <td>+0</td>
            <td>+0C</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
            <td>C,N,P</td>
            <td></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>Patada</td>
            <td>5</td>
            <td>+0</td>
            <td>+3C</td>
            <td>-2</td>
            <td>2</td>
            <td>-</td>
            <td>n</td>
            <td></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>Puñetazo</td>
            <td>5</td>
            <td>+1</td>
            <td>+0C</td>
            <td>+2</td>
            <td>3</td>
            <td>-</td>
            <td>n</td>
            <td></td>
        </tbody>


      </table>
</div>


</div>

<!--___________________________armadura___________________________-->

<div class="row">
	<div class="col m12">
		<h5 id="armadura">Armadura</h5>
	</div>	
</div>

<div class="row">

	<div class="col m12">
	 

	  <table class="striped">
        <thead>
          <tr>
              <th>Armadura</th>
              <th>Tipo</th>
              <th>Absorcion(L/B)</th>
              <th>Dureza</th>
              <th>Fatiga</th>
              <th>Mobilidad</th>
              <th>Notas</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
   
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
  
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
      
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          
          </tr>
        </tbody>

        

      </table>

</div>

</div>

<div class="row">
	<div class="col m12">
		<h5 id=encombate>En Combate</h5>
	</div>	
</div>

<a class="waves-effect waves-light btn" href="exaltedH4.html">Siguiente</a>


</body>
</html>